# Factor Investing

### Importation of useful modules

In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Read data

In [78]:
df=pd.read_excel("7618 US equities Mar2024 Proposed portfolio.xlsx",skiprows=1)
df

,Ticker,Name,Weight,id_isin,PX_LAST,Trail_12M_EPS,DVD_SH_12M,BOOK_VAL_PER_SH,TRAIL_12M_CASH_FLOW_PER_SH,TRAIL_12M_SALES_PER_SH,...,COUNTRY,COUNTRY_FULL_NAME,CUR_MKT_CAP,NET_INCOME,PE_RATIO,TOT_DEBT_TO_COM_EQY,RETURN_COM_EQY,PR_EPS_GROWTH_PLUS_YLD,Beta,Carbon intensity
0,MSFT UW Equity,Microsoft Corp,3.196725,US5949181045,404.815,11.055643,2.86,32.059742,13.808134,30.614475,...,US,UNITED STATES,3.007952e+12,72361.000,36.616143,38.521891,39.174284,19.486496,1.076258,42.130986
1,AAPL UW Equity,Apple Inc,3.196725,US0378331005,170.250,6.420000,0.96,4.792945,7.446364,24.664874,...,US,UNITED STATES,2.628980e+12,96995.000,26.518692,199.417501,154.269379,11.563877,1.123685,42.105967
2,NVDA UW Equity,NVIDIA Corp,3.196725,US67066G1040,887.410,12.060238,0.16,17.442370,11.379714,24.678604,...,US,UNITED STATES,2.218525e+12,29760.000,73.581464,25.724789,91.455001,38.968030,1.638658,80.523995
3,AMZN UW Equity,Amazon.com Inc,3.196725,US0231351067,175.310,2.932093,#N/A Field Not Applicable,19.442839,8.225100,55.764876,...,US,UNITED STATES,1.821012e+12,30425.000,59.790054,76.560248,17.489753,NaN,1.303982,60.085099
4,META UW Equity,Meta Platforms Inc,3.196725,US30303M1027,498.670,17.244147,0.5,59.807888,27.633161,52.420498,...,US,UNITED STATES,1.271760e+12,39098.000,28.918219,24.759741,28.038482,20.810251,1.215004,41.403178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,CCK UN Equity,Crown Holdings Inc,0.021810,US2283681060,76.180,4.511860,0.96,19.976076,12.157421,100.585018,...,US,UNITED STATES,9.201267e+09,450.000,16.884389,319.502075,21.131721,11.760173,0.921667,449.191726
465,AFG UN Equity,American Financial Group Inc/OH,0.027080,US0259321042,127.700,10.466769,6.68,50.911208,23.329828,92.480155,...,US,UNITED STATES,1.068360e+10,852.000,12.200517,39.290747,20.505415,NaN,0.748426,4.715968
466,CHK UW Equity,Chesapeake Energy Corp,0.027042,US1651677353,82.180,5.362984,2.905,82.032306,17.871777,65.485697,...,US,UNITED STATES,1.074871e+10,2419.000,15.323559,19.824774,24.369113,8.304923,0.845044,327.901385
467,WTRG UN Equity,Essential Utilities Inc,0.021494,US29670G1022,34.900,1.855240,1.2083,21.574345,3.510223,7.697646,...,US,UNITED STATES,9.538114e+09,498.226,18.811583,120.565559,8.838834,9.624186,0.810093,496.698256
468,KNX UN Equity,Knight-Swift Transportation Holdings Inc,0.021338,US4990491049,55.610,1.753970,0.56,43.916039,7.208721,44.303444,...,US,UNITED STATES,8.980707e+09,217.149,31.705218,45.147311,3.094967,16.007013,0.889481,231.494003

### Data Inspection

We first look at the shape of the DataFrame:

In [79]:
df.shape

(469, 23)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ticker                      469 non-null    object
 1   Name                        469 non-null    object
 2   Weight                      469 non-null    float64
 3   id_isin                     469 non-null    object
 4   PX_LAST                     469 non-null    float64
 5   Trail_12M_EPS               469 non-null    float64
 6   DVD_SH_12M                  435 non-null    object
 7   BOOK_VAL_PER_SH             469 non-null    float64
 8   TRAIL_12M_CASH_FLOW_PER_SH  469 non-null    float64
 9   TRAIL_12M_SALES_PER_SH      469 non-null    float64
 10  INDUSTRY_SECTOR             469 non-null    object
 11  INDUSTRY_GROUP              469 non-null    object
 12  GICS_SECTOR_NAME            469 non-null    object
 13  COUNTRY                     469 non-null    object
 14  COUNTRY_FULL_NAME           469 non-null    object
 15  CUR_MKT_CAP                 469 non-null    float64
 16  NET_INCOME                  469 non-null    float64
 17  PE_RATIO                    448 non-null    float64
 18  TOT_DEBT_TO_COM_EQY         466 non-null    float64
 19  RETURN_COM_EQY              465 non-null    float64
 20  PR_EPS_GROWTH_PLUS_YLD      286 non-null    float64
 21  Beta                        468 non-null    float64
 22  Carbon intensity            469 non-null    float64
dtypes: float64(14), object(9)
memory usage: 84.4+ KB

We see that some columns have missing data

We fill the missing data with 0

In [81]:
df=df.fillna(0)

In [82]:
df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ticker                      469 non-null    object
 1   Name                        469 non-null    object
 2   Weight                      469 non-null    float64
 3   id_isin                     469 non-null    object
 4   PX_LAST                     469 non-null    float64
 5   Trail_12M_EPS               469 non-null    float64
 6   DVD_SH_12M                  469 non-null    object
 7   BOOK_VAL_PER_SH             469 non-null    float64
 8   TRAIL_12M_CASH_FLOW_PER_SH  469 non-null    float64
 9   TRAIL_12M_SALES_PER_SH      469 non-null    float64
 10  INDUSTRY_SECTOR             469 non-null    object
 11  INDUSTRY_GROUP              469 non-null    object
 12  GICS_SECTOR_NAME            469 non-null    object
 13  COUNTRY                     469 non-null    object
 14  COUNTRY_FULL_NAME           469 non-null    object
 15  CUR_MKT_CAP                 469 non-null    float64
 16  NET_INCOME                  469 non-null    float64
 17  PE_RATIO                    469 non-null    float64
 18  TOT_DEBT_TO_COM_EQY         469 non-null    float64
 19  RETURN_COM_EQY              469 non-null    float64
 20  PR_EPS_GROWTH_PLUS_YLD      469 non-null    float64
 21  Beta                        469 non-null    float64
 22  Carbon intensity            469 non-null    float64
dtypes: float64(14), object(9)
memory usage: 84.4+ KB

### We create a dataframe with the indicators we want to compute

In [83]:
df_fundamental_indicators=pd.DataFrame()
L_fundamental_indicators=["P/E ratio", "P/B ratio", "Average ROE", "Average Debt to Equity", "Average EPS growth", "Average Beta", "Average Market Cap"]
L_benchmark=[32.60, 9, 46.59, 195, 11, 1, 736048]
L_portfolio=[]
weight=np.array(df["Weight"])
weight_T=weight.T

### Computation of P/E ratio (with the formula given in the subject):

In [84]:
price=np.array(df["PX_LAST"])
eps=np.array(df["Trail_12M_EPS"])
numerator=weight_T@price
denominator=weight_T@eps
pe_ratio=round(numerator/denominator,2)
L_portfolio.append(pe_ratio)

### Computation of P/B ratio (with the formula given in the subject):

In [85]:
price=np.array(df["PX_LAST"])
bvs=np.array(df["BOOK_VAL_PER_SH"])
numerator=weight_T@price
denominator=weight_T@bvs
pb_ratio=round(numerator/denominator,2)
L_portfolio.append(pb_ratio)

### Computation of Average ROE

In [86]:
roe_np=np.array(df["RETURN_COM_EQY"])
roe=round((weight_T@roe_np)/100, 2)
L_portfolio.append(roe)

### Computation of Average Debt to Equity

In [87]:
avde_np=np.array(df["TOT_DEBT_TO_COM_EQY"])
avde=round((weight_T@avde_np)/100, 2)
L_portfolio.append(avde)

### Computation of Average EPS growth

In [88]:
avgeps_np=np.array(df["PR_EPS_GROWTH_PLUS_YLD"])
avgeps=round((weight_T@avgeps_np)/100, 2)
L_portfolio.append(avgeps)

### Computation of average Beta

In [89]:
beta_np=np.array(df["Beta"])
beta=round((weight_T@beta_np)/100, 2)
L_portfolio.append(beta)

### Computation of average Market Cap

In [90]:
market_np=np.array(df["CUR_MKT_CAP"])
marketcap=int(((weight_T@market_np)/100)/1000000)
L_portfolio.append(marketcap)

In [91]:
df_fundamental_indicators["Fundamental indicators"]= L_fundamental_indicators
df_fundamental_indicators["Portfolio"]= L_portfolio
df_fundamental_indicators["Benchmark"]= L_benchmark
df_fundamental_indicators

   Fundamental indicators  Portfolio  Benchmark
0               P/E ratio      29.64      32.60
1               P/B ratio       6.88       9.00
2             Average ROE      44.11      46.59
3  Average Debt to Equity     203.88     195.00
4      Average EPS growth      10.41      11.00
5            Average Beta       1.04       1.00
6      Average Market Cap  556182.00  736048.00

### Allocation per sectors

In [92]:
df_sectors=pd.DataFrame()
L_sectors=list(np.unique(np.array(df['GICS_SECTOR_NAME'])))
L_benchmark=[8.66, 10.4, 5.9, 3.8, 12.85, 12.42,9, 30.1, 2.36, 2.4, 2.11]

In [93]:
L_portfolio=[]
for sector in L_sectors:
    w=0
    df_2=df[df['GICS_SECTOR_NAME']==sector]
    w=round(df_2['Weight'].sum(),2)
    L_portfolio.append(w)
L_portfolio

[10.26, 10.17, 5.94, 6.16, 16.87, 12.74, 8.66, 23.54, 3.39, 0.12, 2.15]

In [94]:
df_sectors['Sector exposure']= L_sectors
df_sectors['Portfolio']= L_portfolio
df_sectors['Benchmark']= L_benchmark
df_sectors

           Sector exposure  Portfolio  Benchmark
0   Communication Services      10.26       8.66
1   Consumer Discretionary      10.17      10.40
2         Consumer Staples       5.94       5.90
3                   Energy       6.16       3.80
4               Financials      16.87      12.85
5              Health Care      12.74      12.42
6              Industrials       8.66       9.00
7   Information Technology      23.54      30.10
8                Materials       3.39       2.36
9              Real Estate       0.12       2.40
10               Utilities       2.15       2.11

### We check that the sums are equal to 100%

In [95]:
df_sectors['Portfolio'].sum()

100.00000000000001

In [96]:
df_sectors['Benchmark'].sum()

100.00000000000001

### We compare the weights in th portfolio to the ones of the benchmark to see which sectors are Overweighted / Underweighted:

In [97]:
df_sectors["Comparaison"]=round(((df_sectors['Portfolio']-df_sectors['Benchmark'])/df_sectors['Benchmark'])*100,2)
df_sectors

           Sector exposure  Portfolio  Benchmark  Comparaison
0   Communication Services      10.26       8.66        18.48
1   Consumer Discretionary      10.17      10.40        -2.21
2         Consumer Staples       5.94       5.90         0.68
3                   Energy       6.16       3.80        62.11
4               Financials      16.87      12.85        31.28
5              Health Care      12.74      12.42         2.58
6              Industrials       8.66       9.00        -3.78
7   Information Technology      23.54      30.10       -21.79
8                Materials       3.39       2.36        43.64
9              Real Estate       0.12       2.40       -95.00
10               Utilities       2.15       2.11         1.90

In [98]:
df_sectors.sort_values(by=["Comparaison"], axis=0, ascending=False)

           Sector exposure  Portfolio  Benchmark  Comparaison
3                   Energy       6.16       3.80        62.11
8                Materials       3.39       2.36        43.64
4               Financials      16.87      12.85        31.28
0   Communication Services      10.26       8.66        18.48
5              Health Care      12.74      12.42         2.58
10               Utilities       2.15       2.11         1.90
2         Consumer Staples       5.94       5.90         0.68
1   Consumer Discretionary      10.17      10.40        -2.21
6              Industrials       8.66       9.00        -3.78
7   Information Technology      23.54      30.10       -21.79
9              Real Estate       0.12       2.40       -95.00

### We do the same for fundamental indicators

In [99]:
df_fundamental_indicators["Comparaison"]=round(((df_fundamental_indicators['Portfolio']-df_fundamental_indicators['Benchmark'])/df_fundamental_indicators['Benchmark'])*100,2)
df_fundamental_indicators

   Fundamental indicators  Portfolio  Benchmark  Comparaison
0               P/E ratio      29.64      32.60        -9.08
1               P/B ratio       6.88       9.00       -23.56
2             Average ROE      44.11      46.59        -5.32
3  Average Debt to Equity     203.88     195.00         4.55
4      Average EPS growth      10.41      11.00        -5.36
5            Average Beta       1.04       1.00         4.00
6      Average Market Cap  556182.00  736048.00       -24.44

# Optimized Portfolio

In [100]:
from scipy.optimize import minimize

### We start by calculating the initial carbon intensity

In [101]:
portfolio_carbon_intensity_initial=round(np.sum(df['Carbon intensity']*df['Weight']),2)
portfolio_carbon_intensity_initial

20663.03

### Then we compute the targeted carbon intensity

In [102]:
portfolio_carbon_intensity_targeted=round(portfolio_carbon_intensity_initial*0.7,2)
portfolio_carbon_intensity_targeted

14464.12

### We compute the minimum and maximum weights that are accepted

In [103]:
df['Min Weight']=0.5*df['Weight']
df['Max Weight']=1.2*df['Weight']
df

,Ticker,Name,Weight,id_isin,PX_LAST,Trail_12M_EPS,DVD_SH_12M,BOOK_VAL_PER_SH,TRAIL_12M_CASH_FLOW_PER_SH,TRAIL_12M_SALES_PER_SH,...,CUR_MKT_CAP,NET_INCOME,PE_RATIO,TOT_DEBT_TO_COM_EQY,RETURN_COM_EQY,PR_EPS_GROWTH_PLUS_YLD,Beta,Carbon intensity,Min Weight,Max Weight
0,MSFT UW Equity,Microsoft Corp,3.196725,US5949181045,404.815,11.055643,2.86,32.059742,13.808134,30.614475,...,3.007952e+12,72361.000,36.616143,38.521891,39.174284,19.486496,1.076258,42.130986,1.598363,3.836070
1,AAPL UW Equity,Apple Inc,3.196725,US0378331005,170.250,6.420000,0.96,4.792945,7.446364,24.664874,...,2.628980e+12,96995.000,26.518692,199.417501,154.269379,11.563877,1.123685,42.105967,1.598363,3.836070
2,NVDA UW Equity,NVIDIA Corp,3.196725,US67066G1040,887.410,12.060238,0.16,17.442370,11.379714,24.678604,...,2.218525e+12,29760.000,73.581464,25.724789,91.455001,38.968030,1.638658,80.523995,1.598363,3.836070
3,AMZN UW Equity,Amazon.com Inc,3.196725,US0231351067,175.310,2.932093,#N/A Field Not Applicable,19.442839,8.225100,55.764876,...,1.821012e+12,30425.000,59.790054,76.560248,17.489753,0.000000,1.303982,60.085099,1.598363,3.836070
4,META UW Equity,Meta Platforms Inc,3.196725,US30303M1027,498.670,17.244147,0.5,59.807888,27.633161,52.420498,...,1.271760e+12,39098.000,28.918219,24.759741,28.038482,20.810251,1.215004,41.403178,1.598363,3.836070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,CCK UN Equity,Crown Holdings Inc,0.021810,US2283681060,76.180,4.511860,0.96,19.976076,12.157421,100.585018,...,9.201267e+09,450.000,16.884389,319.502075,21.131721,11.760173,0.921667,449.191726,0.010905,0.026172
465,AFG UN Equity,American Financial Group Inc/OH,0.027080,US0259321042,127.700,10.466769,6.68,50.911208,23.329828,92.480155,...,1.068360e+10,852.000,12.200517,39.290747,20.505415,0.000000,0.748426,4.715968,0.013540,0.032496
466,CHK UW Equity,Chesapeake Energy Corp,0.027042,US1651677353,82.180,5.362984,2.905,82.032306,17.871777,65.485697,...,1.074871e+10,2419.000,15.323559,19.824774,24.369113,8.304923,0.845044,327.901385,0.013521,0.032450
467,WTRG UN Equity,Essential Utilities Inc,0.021494,US29670G1022,34.900,1.855240,1.2083,21.574345,3.510223,7.697646,...,9.538114e+09,498.226,18.811583,120.565559,8.838834,9.624186,0.810093,496.698256,0.010747,0.025792
468,KNX UN Equity,Knight-Swift Transportation Holdings Inc,0.021338,US4990491049,55.610,1.753970,0.56,43.916039,7.208721,44.303444,...,8.980707e+09,217.149,31.705218,45.147311,3.094967,16.007013,0.889481,231.494003,0.010669,0.025606

### We create a dataframe with only the weights for a better visibility

In [104]:
df_weight=pd.DataFrame()
df_weight["Name"]=df["Name"]
df_weight["Initial Weight"]=df["Weight"]
df_weight["Min Weight"]=df["Min Weight"]
df_weight["Max Weight"]=df["Max Weight"]
df_weight

,Name,Initial Weight,Min Weight,Max Weight
0,Microsoft Corp,3.196725,1.598363,3.836070
1,Apple Inc,3.196725,1.598363,3.836070
2,NVIDIA Corp,3.196725,1.598363,3.836070
3,Amazon.com Inc,3.196725,1.598363,3.836070
4,Meta Platforms Inc,3.196725,1.598363,3.836070
...,...,...,...,...
464,Crown Holdings Inc,0.021810,0.010905,0.026172
465,American Financial Group Inc/OH,0.027080,0.013540,0.032496
466,Chesapeake Energy Corp,0.027042,0.013521,0.032450
467,Essential Utilities Inc,0.021494,0.010747,0.025792
468,Knight-Swift Transportation Holdings Inc,0.021338,0.010669,0.025606

### We set the maximum deviation for buy and sell movements

In [105]:
max_deviation = 0.2

### Optimization

In [106]:
# Data we will use:

initial_weights = np.array(df["Weight"])
carbon_intensity = np.array(df["Carbon intensity"])
net_income = np.array(df["NET_INCOME"])
max_deviation = 0.2
# Calculate the initial portfolio's carbon intensity:

initial_portfolio_intensity = round(np.sum(carbon_intensity*initial_weights),2)

# Target carbon intensity (in our case, we want to reduce by 30%):

target_intensity = round(initial_portfolio_intensity * 0.7,2)

# Constraint on sum of the weights:

def constraint1(weights):
    return np.sum(weights) - 100

# Constraint on min weight:

def constraint2(weights):
    return weights - (initial_weights * 0.5)

# Constraint on max weight:

def constraint3(weights):
    return (initial_weights * 1.2) - weights

# Constraint on carbon intensity:

def constraint4(weights):
    return target_intensity - np.dot(weights, carbon_intensity)

# Constraint on max deviation:

def constraint5(weights):
    max_deviation = np.sum(initial_weights) * 0.2
    return np.sum(np.abs(weights - initial_weights)) - max_deviation

# Define objective function (find the weights):

def objective_function(weights):
    return np.sum(np.abs(weights - initial_weights))

# Define bounds
bounds = [(0, 100)] * len(initial_weights)

# Define constraints (eq=equation & ineq=inequation)
constraints = [
    {'type': 'eq', 'fun': constraint1},
    {'type': 'ineq', 'fun': constraint2},
    {'type': 'ineq', 'fun': constraint3},
    {'type': 'eq', 'fun': constraint4},
    {'type': 'ineq', 'fun': constraint5}
]

# Initial guess for weights
initial_guess = initial_weights

# Run optimization
result = minimize(objective_function, initial_guess, bounds=bounds, constraints=constraints)

# Get optimized weights
optimized_weights = result.x
df_weight["Optimized Weight"]=optimized_weights
# Calculate the carbon intensity of the new portfolio
new_portfolio_intensity = round(np.sum(carbon_intensity*optimized_weights),2)

# Print results
print("Initial Portfolio Carbon Intensity:", initial_portfolio_intensity)
print("Target Portfolio Carbon Intensity:", target_intensity)
print("New Portfolio Carbon Intensity:", new_portfolio_intensity)

Initial Portfolio Carbon Intensity: 20663.03
Target Portfolio Carbon Intensity: 14464.12
New Portfolio Carbon Intensity: 14464.12

In [107]:
df['Optimized Weight']=df_weight['Optimized Weight']

In [108]:
df_weight

,Name,Initial Weight,Min Weight,Max Weight,Optimized Weight
0,Microsoft Corp,3.196725,1.598363,3.836070,3.627007
1,Apple Inc,3.196725,1.598363,3.836070,3.593883
2,NVIDIA Corp,3.196725,1.598363,3.836070,3.524084
3,Amazon.com Inc,3.196725,1.598363,3.836070,3.537665
4,Meta Platforms Inc,3.196725,1.598363,3.836070,3.551645
...,...,...,...,...,...
464,Crown Holdings Inc,0.021810,0.010905,0.026172,0.010905
465,American Financial Group Inc/OH,0.027080,0.013540,0.032496,0.026606
466,Chesapeake Energy Corp,0.027042,0.013521,0.032450,0.021491
467,Essential Utilities Inc,0.021494,0.010747,0.025792,0.010747
468,Knight-Swift Transportation Holdings Inc,0.021338,0.010669,0.025606,0.016255

### We compute the fundamental indicators with the optimized weights

In [110]:
df_fundamental_indicators_2=pd.DataFrame()
L_fundamental_indicators=["P/E ratio", "P/B ratio", "Average ROE", "Average Debt to Equity", "Average EPS growth", "Average Beta", "Average Market Cap"]
L_benchmark=[32.60, 9, 46.59, 195, 11, 1, 736048]
L_portfolio=[]
weight=np.array(df["Optimized Weight"])
weight_T=weight.T

### P/E Ratio

In [111]:
price=np.array(df["PX_LAST"])
eps=np.array(df["Trail_12M_EPS"])
numerator=weight_T@price
denominator=weight_T@eps
pe_ratio=round(numerator/denominator,2)
L_portfolio.append(pe_ratio)

### P/B Ratio

In [112]:
price=np.array(df["PX_LAST"])
bvs=np.array(df["BOOK_VAL_PER_SH"])
numerator=weight_T@price
denominator=weight_T@bvs
pb_ratio=round(numerator/denominator,2)
L_portfolio.append(pb_ratio)

### Average ROE

In [113]:
roe_np=np.array(df["RETURN_COM_EQY"])
roe=round((weight_T@roe_np)/100, 2)
L_portfolio.append(roe)

### Average Debt to Equity

In [114]:
avde_np=np.array(df["TOT_DEBT_TO_COM_EQY"])
avde=round((weight_T@avde_np)/100, 2)
L_portfolio.append(avde)

### Average EPS growth

In [115]:
avgeps_np=np.array(df["PR_EPS_GROWTH_PLUS_YLD"])
avgeps=round((weight_T@avgeps_np)/100, 2)
L_portfolio.append(avgeps)

### Average Beta

In [116]:
beta_np=np.array(df["Beta"])
beta=round((weight_T@beta_np)/100, 2)
L_portfolio.append(beta)

### Market Capitalization

In [117]:
market_np=np.array(df["CUR_MKT_CAP"])
marketcap=int(((weight_T@market_np)/100)/1000000)
L_portfolio.append(marketcap)

### We put the values in a dataframe

In [118]:
df_fundamental_indicators_2["Fundamental indicators"]= L_fundamental_indicators
df_fundamental_indicators_2["Portfolio"]= L_portfolio
df_fundamental_indicators_2["Benchmark"]= L_benchmark
df_fundamental_indicators_2

   Fundamental indicators  Portfolio  Benchmark
0               P/E ratio      30.59      32.60
1               P/B ratio       7.20       9.00
2             Average ROE      44.31      46.59
3  Average Debt to Equity     206.72     195.00
4      Average EPS growth      10.75      11.00
5            Average Beta       1.05       1.00
6      Average Market Cap  614044.00  736048.00

### Sectors exposure with the new weights

In [119]:
df_sectors_2=pd.DataFrame()
L_sectors=list(np.unique(np.array(df['GICS_SECTOR_NAME'])))
L_benchmark=[8.66, 10.4, 5.9, 3.8, 12.85, 12.42,9, 30.1, 2.36, 2.4, 2.11]

In [120]:
L_portfolio=[]
for sector in L_sectors:
    w=0
    df_2=df[df['GICS_SECTOR_NAME']==sector]
    w=round(df_2['Optimized Weight'].sum(),2)
    L_portfolio.append(w)
L_portfolio

[11.01, 10.53, 6.57, 5.21, 16.91, 13.3, 8.35, 24.56, 2.25, 0.13, 1.18]

In [121]:
df_sectors_2['Sector exposure']= L_sectors
df_sectors_2['Portfolio']= L_portfolio
df_sectors_2['Benchmark']= L_benchmark
df_sectors_2

           Sector exposure  Portfolio  Benchmark
0   Communication Services      11.01       8.66
1   Consumer Discretionary      10.53      10.40
2         Consumer Staples       6.57       5.90
3                   Energy       5.21       3.80
4               Financials      16.91      12.85
5              Health Care      13.30      12.42
6              Industrials       8.35       9.00
7   Information Technology      24.56      30.10
8                Materials       2.25       2.36
9              Real Estate       0.13       2.40
10               Utilities       1.18       2.11

### We check that the sum of the new weight is equal to 100%

In [122]:
df_sectors_2['Portfolio'].sum()

100.0

### Comparaison between new portfolio & old portfolio for sector exposures

In [123]:
df_3=pd.DataFrame()
df_3['Sector exposure']= L_sectors
df_3['New Portfolio']= df_sectors_2['Portfolio']
df_3['Old Portfolio']= df_sectors['Portfolio']
df_3['Comparison']=round(((df_3['New Portfolio']-df_3['Old Portfolio'])/df_3['Old Portfolio'])*100,2)
df_3.sort_values(by=['Comparison'], axis=0, ascending=False)

           Sector exposure  New Portfolio  Old Portfolio  Comparison
2         Consumer Staples           6.57           5.94       10.61
9              Real Estate           0.13           0.12        8.33
0   Communication Services          11.01          10.26        7.31
5              Health Care          13.30          12.74        4.40
7   Information Technology          24.56          23.54        4.33
1   Consumer Discretionary          10.53          10.17        3.54
4               Financials          16.91          16.87        0.24
6              Industrials           8.35           8.66       -3.58
3                   Energy           5.21           6.16      -15.42
8                Materials           2.25           3.39      -33.63
10               Utilities           1.18           2.15      -45.12

### Comparaison between new portfolio & old portfolio for fundamental indicators

In [124]:
df_4=pd.DataFrame()
df_4["Fundamental indicators"]= L_fundamental_indicators
df_4['New Portfolio']= df_fundamental_indicators_2["Portfolio"]
df_4['Old Portfolio']= df_fundamental_indicators["Portfolio"]
df_4['Comparison']=round(((df_4['New Portfolio']-df_4['Old Portfolio'])/df_4['Old Portfolio'])*100,2)
df_4.sort_values(by=['Comparison'], axis=0, ascending=False)

   Fundamental indicators  New Portfolio  Old Portfolio  Comparison
6      Average Market Cap      614044.00      556182.00       10.40
1               P/B ratio           7.20           6.88        4.65
4      Average EPS growth          10.75          10.41        3.27
0               P/E ratio          30.59          29.64        3.21
3  Average Debt to Equity         206.72         203.88        1.39
5            Average Beta           1.05           1.04        0.96
2             Average ROE          44.31          44.11        0.45

### Comparaison between new portfolio & Benchmark for sector exposures

In [125]:
df_5=pd.DataFrame()
df_5['Sector exposure']= L_sectors
df_5['New Portfolio']= df_sectors_2['Portfolio']
df_5['Benchmark']= df_sectors['Benchmark']
df_5['Comparison']=round(((df_5['New Portfolio']-df_5['Benchmark'])/df_5['Benchmark'])*100,2)
df_5.sort_values(by=['Comparison'], axis=0, ascending=False)

           Sector exposure  New Portfolio  Benchmark  Comparison
3                   Energy           5.21       3.80       37.11
4               Financials          16.91      12.85       31.60
0   Communication Services          11.01       8.66       27.14
2         Consumer Staples           6.57       5.90       11.36
5              Health Care          13.30      12.42        7.09
1   Consumer Discretionary          10.53      10.40        1.25
8                Materials           2.25       2.36       -4.66
6              Industrials           8.35       9.00       -7.22
7   Information Technology          24.56      30.10      -18.41
10               Utilities           1.18       2.11      -44.08
9              Real Estate           0.13       2.40      -94.58

### Comparaison between new portfolio & benchmark for fundamental indicators

In [126]:
df_6=pd.DataFrame()
df_6["Fundamental indicators"]= L_fundamental_indicators
df_6['New Portfolio']= df_fundamental_indicators_2["Portfolio"]
df_6['Benchmark']= df_fundamental_indicators["Benchmark"]
df_6['Comparison']=round(((df_6['New Portfolio']-df_6['Benchmark'])/df_6['Benchmark'])*100,2)
df_6.sort_values(by=['Comparison'], axis=0, ascending=False)

   Fundamental indicators  New Portfolio  Benchmark  Comparison
3  Average Debt to Equity         206.72     195.00        6.01
5            Average Beta           1.05       1.00        5.00
4      Average EPS growth          10.75      11.00       -2.27
2             Average ROE          44.31      46.59       -4.89
0               P/E ratio          30.59      32.60       -6.17
6      Average Market Cap      614044.00  736048.00      -16.58
1               P/B ratio           7.20       9.00      -20.00