# Section 1

# Question 0

From the data that we used for the previous assignment, select the
following 10 companies (these are the first 10 companies with no missing
data):
”MMM”,”AOS”,”ABT”,”ADM”,”ADBE”,”ADP”,”AES”,”AFL”,”A”,”AKAM”

So, our “new” dataset for this assignment will consist of monthly returns
you had computed in the last assignment, but just for these 10 companies

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
stocks_prices=pd.read_csv("stocks_prices.csv",index_col='Date',parse_dates=[0],dayfirst=False) # I load the csv file that we saved in the previous assignment
stocks_prices

,A,AAPL,ABT,ACGL,ADBE,ADI,ADM,ADP,ADSK,AEE,...,WMT,WRB,WST,WY,XEL,XOM,XRAY,YUM,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.757748,0.847207,9.081109,1.277778,16.274670,28.706934,6.514029,25.075766,8.052906,10.858143,...,43.717697,1.238296,5.431209,11.691638,7.112461,18.668196,6.695476,4.725968,25.027779,36.146164
2000-01-04,40.415142,0.775779,8.821651,1.270833,14.909399,27.254667,6.446171,25.075766,7.660817,10.858143,...,42.081863,1.200194,5.487314,11.252416,7.276235,18.310629,6.695476,4.630976,24.666668,34.395836
2000-01-05,37.908192,0.787131,8.805430,1.388889,15.204174,27.652546,6.344390,24.834658,7.178246,11.278190,...,41.223064,1.181144,5.464871,11.848505,7.556990,19.308840,6.811223,4.654724,25.138889,34.355114
2000-01-06,36.464783,0.719014,9.113540,1.375000,15.328290,26.896572,6.378316,25.166176,6.740915,11.236182,...,41.672920,1.249726,5.408764,12.402758,7.486793,20.307060,6.820123,4.615142,23.777779,34.843582
2000-01-07,39.503517,0.753073,9.210842,1.451389,16.072987,27.652546,6.480100,25.738829,7.540174,11.404199,...,44.821899,1.230675,5.464871,11.994908,7.486793,20.247473,6.802320,4.512233,23.513889,34.925007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,148.183105,131.127060,106.058319,63.380001,338.450012,161.535767,93.052528,237.013672,188.160004,87.481987,...,142.136017,72.018257,234.581238,30.101591,68.689735,106.052940,31.343018,127.117882,248.220001,46.140099
2022-12-27,148.500870,129.307236,106.440659,63.619999,335.089996,159.918823,94.321167,237.102203,186.289993,88.214828,...,142.175537,72.469292,236.177505,30.082472,69.309517,107.526436,31.579344,128.104080,251.000000,46.511505
2022-12-28,147.051102,125.339409,105.715172,62.599998,328.329987,158.025833,92.069099,233.974045,181.899994,87.335411,...,139.684174,71.380928,230.700302,29.279509,68.810287,105.760185,30.506020,127.522217,246.839996,45.682983
2022-12-29,150.030075,128.889572,108.146538,63.110001,337.579987,161.673813,91.577377,236.698898,188.119995,87.951004,...,140.534393,71.812347,238.422256,29.939085,69.297813,106.560364,31.914906,128.192825,257.529999,46.740059
2022-12-30,148.821777,129.207779,107.636734,62.779999,336.529999,161.723099,91.311844,234.967575,186.869995,86.885933,...,140.178497,71.155411,234.800720,29.633196,68.361755,107.633774,31.479883,126.309235,256.410004,46.816246

In [38]:
stocks_10=stocks_prices[['MMM','AOS','ABT','ADM','ADBE','ADP','AES','AFL','A','AKAM']] # select only the daily prices for 10 stocks
stocks_10

,MMM,AOS,ABT,ADM,ADBE,ADP,AES,AFL,A,AKAM
Date,,,,,,,,,,
2000-01-03,24.772840,2.349172,9.081109,6.514029,16.274670,25.075766,25.869465,6.998003,43.757748,321.250000
2000-01-04,23.788494,2.315323,8.821651,6.446171,14.909399,25.075766,24.843609,6.812301,40.415142,300.000000
2000-01-05,24.477549,2.308553,8.805430,6.344390,15.204174,24.834658,25.111225,6.773207,37.908192,283.500000
2000-01-06,26.446239,2.274703,9.113540,6.378316,15.328290,25.166176,25.311934,6.910039,36.464783,236.125000
2000-01-07,26.971231,2.369483,9.210842,6.480100,16.072987,25.738829,25.802563,7.046872,39.503517,248.375000
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,115.073784,55.871155,106.058319,93.052528,338.450012,237.013672,27.770977,70.472534,148.183105,83.160004
2022-12-27,115.150421,56.627228,106.440659,94.321167,335.089996,237.102203,27.906540,70.953804,148.500870,83.500000
2022-12-28,113.301804,55.743507,105.715172,92.069099,328.329987,233.974045,27.422388,70.197517,147.051102,83.500000
2022-12-29,115.485657,56.617413,108.146538,91.577377,337.579987,236.698898,27.896854,70.796654,150.030075,84.699997
2022-12-30,114.863060,56.205006,107.636734,91.311844,336.529999,234.967575,27.848444,70.659149,148.821777,84.300003

In [54]:
log_return=np.log(stocks_10 / stocks_10.shift())
log_return

,MMM,AOS,ABT,ADM,ADBE,ADP,AES,AFL,A,AKAM
Date,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.040546,-0.014514,-0.028987,-0.010472,-0.087618,0.000000,-0.040463,-0.026895,-0.079464,-0.068437
2000-01-05,0.028554,-0.002928,-0.001840,-0.015915,0.019578,-0.009662,0.010714,-0.005755,-0.064037,-0.056570
2000-01-06,0.077358,-0.014772,0.034393,0.005333,0.008130,0.013261,0.007961,0.020001,-0.038820,-0.182851
2000-01-07,0.019657,0.040822,0.010620,0.015832,0.047440,0.022500,0.019198,0.019609,0.080043,0.050578
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,-0.011997,0.011845,0.001388,0.012014,0.005719,0.007415,0.012985,0.011776,0.001475,0.005305
2022-12-27,0.000666,0.013442,0.003599,0.013541,-0.009977,0.000373,0.004870,0.006806,0.002142,0.004080
2022-12-28,-0.016184,-0.015729,-0.006839,-0.024166,-0.020380,-0.013281,-0.017501,-0.010716,-0.009811,0.000000
2022-12-29,0.019091,0.015556,0.022739,-0.005355,0.027783,0.011579,0.017154,0.008499,0.020056,0.014269
2022-12-30,-0.005406,-0.007311,-0.004725,-0.002904,-0.003115,-0.007341,-0.001737,-0.001944,-0.008086,-0.004734

In [58]:
log_return['A'].loc['2000-01-03':'2000-01-31'].cumsum()

Date
2000-01-03         NaN
2000-01-04   -0.079464
2000-01-05   -0.143501
2000-01-06   -0.182322
2000-01-07   -0.102279
2000-01-10   -0.043466
2000-01-11   -0.057158
2000-01-12   -0.077586
2000-01-13   -0.062688
2000-01-14   -0.051659
2000-01-18   -0.006969
2000-01-19   -0.028171
2000-01-20   -0.055322
2000-01-21   -0.046190
2000-01-24   -0.049832
2000-01-25   -0.061764
2000-01-26   -0.052573
2000-01-27   -0.050745
2000-01-28   -0.056240
2000-01-31   -0.084175
Name: A, dtype: float64

In [40]:
monthly_returns = log_return.resample('M').ffill()
monthly_returns

,MMM,AOS,ABT,ADM,ADBE,ADP,AES,AFL,A,AKAM
Date,,,,,,,,,,
2000-01-31,0.014795,-0.006309,0.021340,-0.005305,-0.044402,-0.031131,0.047932,0.033654,-0.027935,-0.080699
2000-02-29,0.020044,-0.017953,-0.003781,-0.048495,0.041921,-0.021292,-0.023583,-0.010205,0.028067,0.017375
2000-03-31,-0.004927,0.013986,-0.008842,-0.006042,0.037762,0.016982,-0.011050,0.023596,-0.009569,0.004675
2000-04-30,-0.009336,0.027737,-0.014528,0.000000,-0.020461,-0.008097,0.063104,0.006422,-0.023694,0.173511
2000-05-31,0.007315,0.002981,-0.010696,-0.015584,-0.034919,-0.013544,0.010079,0.006065,-0.023491,-0.116534
...,...,...,...,...,...,...,...,...,...,...
2022-08-31,-0.004093,-0.017385,0.004393,0.003648,-0.004355,-0.004816,0.000393,-0.011878,-0.000234,-0.015825
2022-09-30,-0.016158,-0.003083,-0.015689,-0.001987,-0.011022,-0.006873,-0.006615,-0.006739,-0.009743,-0.002239
2022-10-31,-0.006419,0.007329,-0.005543,0.021892,-0.022293,-0.003882,-0.005413,0.004927,-0.003031,-0.009913
2022-11-30,-0.001269,0.004124,0.024275,0.010828,0.054054,0.027170,0.023086,0.014705,0.026414,0.041213
2022-12-31,-0.005406,-0.007311,-0.004725,-0.002904,-0.003115,-0.007341,-0.001737,-0.001944,-0.008086,-0.004734

# Section 1

# Question 1

Choose the estimation window to be T
est = 60 months of monthly
returns. Call this the estimation sample. Use the estimation sample to
compute the following two portfolio strategies:

a . mean-variance portfolio (MVP) without constraints on the size of
the weight (assume that a risk-free rate is available, with the
risk-free rate equal to zero)

In [132]:
T_est=60
estimation_sample=monthly_returns[:T_est]
expected_returns=estimation_sample.mean()
ones=np.ones((10,1))
cov_matrix=estimation_sample.cov()
cov_matrix_inverse=np.linalg.inv(cov_matrix)

a1=expected_returns.T @ cov_matrix_inverse @ expected_returns
a2=expected_returns.T @ cov_matrix_inverse @ ones
a3=ones.T @ cov_matrix_inverse @ ones
D=a1*a3-a2**2

print("a1 = ", a1)
print("a2 = ", a2)
print("a3 = ", a3)
print("D = ", D)

w0=(a1*cov_matrix_inverse@ones - a2*cov_matrix_inverse@expected_returns)/D
w1=(a1*cov_matrix_inverse@ones - a2*cov_matrix_inverse@expected_returns)/D + (a3*cov_matrix_inverse@expected_returns - 
                                                                             a2*cov_matrix_inverse@ones)/D

weights=w0+0.3*(w1-w0)
w=(0.3*cov_matrix_inverse@expected_returns)/(expected_returns.T @ cov_matrix_inverse @ expected_returns)

# calculate tangency portfolio weights

term1Numerator = (0.30 - 0)
term1Denominator = (expected_returns) .T @ cov_matrix_inverse @ (expected_returns )
term1 = term1Numerator/term1Denominator
term2 = cov_matrix_inverse @ (expected_returns)
weightsWithRf = term1 * term2

weightsTangency = weightsWithRf/(weightsWithRf.T @ ones)
print("Tangency portfolio weights are:")
weightsTangency

a1 =  0.2954441652589035
a2 =  [35.87560982]
a3 =  [[15695.64231911]]
D =  [[3350.12656323]]
Tangency portfolio weights are:

array([-0.08756394,  0.04634176, -0.10718865,  0.01810374, -0.1881348 ,
        0.42654786,  0.16392535,  0.75848581, -0.00935237, -0.02116476])

In [117]:
def gmv(matrix):
    l=len(matrix)
    vector_ones=np.ones(l)
    matrix_inv =np.linalg.inv(matrix)
    numerator=np.dot(matrix_inv, vector_ones)
    weights = numerator / np.sum(numerator)
    return weights

In [121]:
gmv_weights = gmv(monthly_returns[:60].cov().values)

In [122]:
print("GMV Portfolio Weights:")
print(pd.Series(gmv_weights, index=covariance_matrix.index))

GMV Portfolio Weights:
MMM     0.409327
AOS     0.003939
ABT     0.038432
ADM     0.016007
ADBE   -0.051774
ADP     0.218530
AES     0.042457
AFL     0.207484
A       0.070922
AKAM    0.044676
dtype: float64

In [126]:
gmv_weights = gmv(monthly_returns[60:61].cov().values)
print("GMV Portfolio Weights:")
print(pd.Series(gmv_weights, index=covariance_matrix.index))

GMV Portfolio Weights:
MMM    NaN
AOS    NaN
ABT    NaN
ADM    NaN
ADBE   NaN
ADP    NaN
AES    NaN
AFL    NaN
A      NaN
AKAM   NaN
dtype: float64

C:\Users\valou\anaconda3\envs\empirical-env\lib\site-packages\pandas\core\frame.py:10217: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
C:\Users\valou\anaconda3\envs\empirical-env\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\valou\anaconda3\envs\empirical-env\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

# Section 2

# Question 2

Now use a rolling window of T
est = 60 months to estimate the portfolio
weights for the two strategies listed above for each of the T − T
est
months. That is, repeat the calculations of the previous question for all
the dates after the first 60 months.

In [129]:
def gmv(matrix):
    l = len(matrix)
    vector_ones = np.ones(l)
    matrix_inv = np.linalg.inv(matrix)
    numerator = np.dot(matrix_inv, vector_ones)
    weights = numerator / np.sum(numerator)
    return weights

T_est = 60
gmv_weights_list = []

for i in range(T_est, len(monthly_returns)):
    returns_window = monthly_returns.iloc[i - T_est:i]
    covariance_matrix = returns_window.cov()
    gmv_weights = gmv(covariance_matrix.values)
    gmv_weights_list.append(gmv_weights)

gmv_weights_df = pd.DataFrame(gmv_weights_list, columns=monthly_returns.columns)

print("GMV Portfolio Weights:")
print(gmv_weights_df)

GMV Portfolio Weights:
          MMM       AOS       ABT       ADM      ADBE       ADP       AES  \
0    0.409327  0.003939  0.038432  0.016007 -0.051774  0.218530  0.042457
1    0.417536  0.002744  0.051584  0.000523 -0.055394  0.212336  0.044616
2    0.406071  0.000908  0.049260  0.004192 -0.055423  0.219497  0.044915
3    0.408525  0.000311  0.049357  0.006282 -0.054341  0.220526  0.044332
4    0.386782  0.006368  0.045468  0.033652 -0.054055  0.217650  0.043834
..        ...       ...       ...       ...       ...       ...       ...
211  0.284434 -0.135963  0.189338  0.138249  0.103465 -0.045143  0.152548
212  0.280929 -0.129275  0.200631  0.128851  0.106619 -0.058396  0.148734
213  0.267471 -0.114836  0.182806  0.129052  0.109264 -0.058097  0.150582
214  0.258704 -0.109201  0.178959  0.170478  0.074495 -0.026767  0.144847
215  0.361294 -0.088374  0.213830  0.183354  0.006715 -0.014639  0.124844

          AFL         A      AKAM
0    0.207484  0.070922  0.044676
1    0.221709  0.062477  0.041869
2    0.219941  0.068850  0.041788
3    0.213544  0.069004  0.042460
4    0.206711  0.066219  0.047371
..        ...       ...       ...
211 -0.238104  0.255567  0.295608
212 -0.227885  0.252190  0.297602
213 -0.224234  0.245029  0.312964
214 -0.242341  0.245231  0.305595
215 -0.271818  0.212570  0.272225

[216 rows x 10 columns]

In [133]:
def tangency_weights(returns):
    expected_returns = returns.mean()
    ones = np.ones(len(expected_returns))
    cov_matrix = returns.cov()
    cov_matrix_inverse = np.linalg.inv(cov_matrix)
    term1_numerator = (0.30 - 0)
    term1_denominator = expected_returns @ cov_matrix_inverse @ expected_returns
    term1 = term1_numerator / term1_denominator
    term2 = cov_matrix_inverse @ expected_returns
    weights_with_rf = term1 * term2
    weights_tangency = weights_with_rf / (weights_with_rf @ ones)
    return weights_tangency

T_est = 60
tangency_weights_list = []

for i in range(T_est, len(monthly_returns)):
    returns_window = monthly_returns.iloc[i - T_est:i]
    weights_tangency = tangency_weights(returns_window)
    tangency_weights_list.append(weights_tangency)

tangency_weights_df = pd.DataFrame(tangency_weights_list, columns=monthly_returns.columns)
print("Tangency Portfolio Weights:")
print(tangency_weights_df)

Tangency Portfolio Weights:
           MMM        AOS        ABT        ADM       ADBE        ADP  \
0    -0.087564   0.046342  -0.107189   0.018104  -0.188135   0.426548
1    -0.085237   0.047439  -0.133168   0.056162  -0.172903   0.433008
2    -0.464411   0.068490  -0.206483   0.186011  -0.210277   0.644196
3    -0.491911   0.078681  -0.197142   0.226867  -0.222829   0.639728
4    -0.295163   0.032901  -0.159450   0.019569  -0.218425   0.642274
..         ...        ...        ...        ...        ...        ...
211  -0.273448  -3.229275  -0.372533   0.664074  -0.222903   1.534164
212  -0.168700  -4.068441  -0.630707   1.096236  -0.427839   2.125470
213  -1.431970  -7.128870  -1.699253   2.140223  -1.303697   4.710176
214  -1.779584  -6.724288  -1.848395   4.288899  -3.024601   6.199222
215 -12.609521 -25.255238 -10.062439  17.099218 -15.639793  27.388408

          AES        AFL          A       AKAM
0    0.163925   0.758486  -0.009352  -0.021165
1    0.152905   0.697525   0.015391  -0.011122
2    0.176654   0.817746  -0.000261  -0.011667
3    0.186609   0.781213   0.011356  -0.012574
4    0.183752   0.806290   0.031321  -0.043069
..        ...        ...        ...        ...
211  0.326738  -5.071713   4.783215   2.861682
212  0.521489  -6.456558   5.799873   3.209176
213  0.829056 -11.368530  10.857996   5.394867
214  0.528538 -12.127619  10.552423   4.935406
215  2.696955 -45.150353  44.131160  18.401603

[216 rows x 10 columns]

# Question 3

Use the time-series of portfolios weights for each of the two portfolio
strategies, to compute the out-of-sample portfolio returns. That is, for
each of the two portfolio strategies that you estimate at each date t,
compute its out-of-sample return in month t + 1.

In [137]:
def tangency_weights(returns):
    expected_returns = returns.mean()
    ones = np.ones(len(expected_returns))
    cov_matrix = returns.cov()
    cov_matrix_inverse = np.linalg.inv(cov_matrix)
    term1_numerator = (0.30 - 0)
    term1_denominator = expected_returns @ cov_matrix_inverse @ expected_returns
    term1 = term1_numerator / term1_denominator
    term2 = cov_matrix_inverse @ expected_returns
    weights_with_rf = term1 * term2
    weights_tangency = weights_with_rf / (weights_with_rf @ ones)
    return weights_tangency

T_est = 60
tangency_weights_list = []
out_of_sample_returns_list = []

for i in range(T_est, len(monthly_returns)-1):
    returns_window = monthly_returns.iloc[i - T_est:i]
    weights_tangency = tangency_weights(returns_window)
    tangency_weights_list.append(weights_tangency)
    returns_next_month = monthly_returns.iloc[i + 1]
    out_of_sample_return = np.dot(weights_tangency, returns_next_month)
    out_of_sample_returns_list.append(out_of_sample_return)

out_of_sample_returns_tangency = pd.DataFrame(out_of_sample_returns_list, columns=['Out_of_Sample_Return'])
print("\nOut-of-Sample Portfolio Returns:")
print(out_of_sample_returns_tangency)

Out-of-Sample Portfolio Returns:
     Out_of_Sample_Return
0               -0.009167
1               -0.008514
2               -0.022779
3               -0.003689
4                0.014631
..                    ...
210              0.115075
211             -0.010179
212             -0.083978
213              0.372946
214             -0.067062

[215 rows x 1 columns]

In [138]:
def gmv(matrix):
    l = len(matrix)
    vector_ones = np.ones(l)
    matrix_inv = np.linalg.inv(matrix)
    numerator = np.dot(matrix_inv, vector_ones)
    weights = numerator / np.sum(numerator)
    return weights

T_est = 60
gmv_weights_list = []
out_of_sample_returns_list = []
for i in range(T_est, len(monthly_returns)-1):
    returns_window = monthly_returns.iloc[i - T_est:i]
    covariance_matrix = returns_window.cov()
    gmv_weights = gmv(covariance_matrix.values)
    gmv_weights_list.append(gmv_weights)
    returns_next_month = monthly_returns.iloc[i + 1]
    out_of_sample_return = np.dot(weights_tangency, returns_next_month)
    out_of_sample_returns_list.append(out_of_sample_return)

out_of_sample_returns_gmv = pd.DataFrame(out_of_sample_returns_list, columns=['Out_of_Sample_Return'])
print("\nOut-of-Sample Portfolio Returns:")
print(out_of_sample_returns_gmv)

Out-of-Sample Portfolio Returns:
     Out_of_Sample_Return
0                0.373089
1                0.295974
2               -1.403953
3               -0.133718
4                0.049951
..                    ...
210              0.178721
211              0.025065
212             -0.033879
213              0.297028
214             -0.067062

[215 rows x 1 columns]

# Question 4

Now, compute the Sharpe ratio of the out-of-sample returns for the two
portfolio strategies. Which strategy has the higher Sharpe ratio?

In [141]:
sharpe_ratio_tangency = out_of_sample_returns_tangency.mean() / out_of_sample_returns_tangency.std()
sharpe_ratio_tangency

Out_of_Sample_Return   -0.070833
dtype: float64

In [142]:
sharpe_ratio_gmv = out_of_sample_returns_gmv.mean() / out_of_sample_returns_gmv.std()
sharpe_ratio_gmv

Out_of_Sample_Return    0.071704
dtype: float64